
/* --------------- Cart ---------------- */
.cart-overlay {
 position: fixed;
 top: 0;
 right: 0;
 width: 100%;
 height: 100%;
 transition: var(--mainTransition);
 background: rgba(71, 51, 33, 0.5);
 z-index: 200;
 visibility: hidden;
}

.cart {
 position: fixed;
 top: 0;
 right: 0;
 width: 30%;
 height: 80vh;
 overflow: scroll;
 z-index: 200;
background-color: hsla(33, 20%, 78%, 0.8);
 padding: 2rem;
 transition: var(--mainTransition);
 transform: translateX(100%);
}

.showCart {
 transform: translateX(0);
}

.transparentBcg {
 visibility: visible;
}

.close-cart {
 font-size: 1.7rem;
 cursor: pointer;
}

.cart h2 {
 text-transform: capitalize;
 text-align: center;
 font-family:"Playfair Display", serif ;
 font-weight: 600;
 margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
 display: grid;
 align-items: center;
 grid-template-columns: auto 1fr auto;
 grid-column-gap: 1.5rem;
 margin-top: 1.5rem ;
 margin-bottom: 1.5rem ;
}

.cart-item img {
 width: 75px;
 height: 112px;
 border: 2px solid black;
}

.cart-item h4 {
 font-size: 1rem;
 text-transform: capitalize;
 font-family: "Urbanist", sans-serif;
}

.cart-item h5 , .cart-item p {
 margin-top: .5rem ;
 margin-bottom: .5rem ;
 
font-family:"Playfair Display", serif ;
font-weight: 600;
font-size: 20px;
}

.item-amount {
 text-align: center;
}

.remove-item {
 color: rgb(77, 17, 17);
 cursor: pointer;
 font-family: "Urbanist", sans-serif;
 font-size: 16px;
 font-weight: 700;
}

.fa-chevron-up,
.fa-chevron-down {
 cursor: pointer;
 color: var(--dark-brown);
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
 margin-top: 2rem;
 letter-spacing: var(--mainSpacing);
 text-align: center;
}

.cart-footer h4 {
 margin-bottom: 1rem;
 text-transform: capitalize;
 text-align: center;
 font-family:"Playfair Display", serif ;
 font-weight: 600;
 margin-bottom: 2rem;
}

.banner-btn{
 border: var(--dark-brown) 2px solid ;
 border-radius: 50px;
 padding: .5em;
 font-family: "Urbanist", sans-serif;
 font-size: 16px;
 font-weight: 700;
 background-color: white;
}

.banner-btn:hover{
 border:white 2px solid ;
 background-color: rgb(77, 17, 17);
 color: white;
}


/* --------------- End of Cart ---------------- */


@media screen and (max-width: 991px) {
 .cart {
  top: 10%;
  width: 100% !important;
 }
  .cart-item img {
   width: 70px;
   height: 100px;
   border: 2px solid black;
  }

  .cart-item h5,
  .cart-item p {
   font-size: 16px;
  }
}